body {
  background-image: url("https://p5.qhimg.com/bdr/__100/t01ed8796fdb5d6e4bc.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
